body {
    width: 95%;
    margin: auto;
    max-width: 1250px;
    margin-top: 25px;
    background-color: bisque;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header img {
    margin: 0;
    width: 100px;
    position: relative;
}
header img:hover {
    cursor: pointer;
}
nav {
    display: flex;
}
nav a {
    display: block;
    color: black;
    font-size: 14pt;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 20px;
}
nav a:hover {
    color: brown;
    text-decoration: underline;
}
nav .navActive {
    text-decoration: underline;
}

div {
    width: 100%;
}

div, footer {
    margin-top: 10px;
}

#createForm, #updateForm, #createComponentForm {
    display: none;
}
#primaryCRUD {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

@media screen and (max-width: 931px) {
    table {
        grid-row: inherit;
    }
    table, div, input, select {
        font-size: 16pt;
    }

    .selectButton {
        width: 85px;
    }    
}