table {
    width: 100%;
    align-self: flex-start;
    border-collapse: collapse;
}
main .tableContainer {
    width: 100%;
    max-height: 55vh; /* 40vh with create form */
    overflow: auto;
}
th, td {
    text-align: left;
    padding-right: 10px;
}
td:last-child {
    color: red;
    cursor: pointer;
    width: 20px;
}

.selectButton {
    color: blue;
    width: 65px;
}
.selectButton:hover {
    color: darkblue;
    cursor: pointer;
}
.selected {
    color: green;
    text-decoration: underline;
}