<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Findrum</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/split.css">
    <link rel="stylesheet" href="css/table.css">
</head>

<body onload="load()">
    <header>
        <h1><a href="index.html">Findrum</a></h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="drummers.html" class="navActive">Drummers</a>
            <a href="bands.html">Bands</a>
            <a href="components.html">Onderdelen</a>
            <a href="brands.html">Merken</a>
        </nav>
    </header>

    <main>
        <div id="loginContainer">
            <b>Inloggen</b> <br>
            <form action="javascript:void(0);" v-bind:style="logInFormStyle">
                <input v-model="user.email" type="email" placeholder="mail" id="mail">
                <input v-model="user.password" type="password" placeholder="wachtwoord" id="wachtwoord">
                <button type="submit" v-on:click="login()">Log in</button>
            </form>
        </div>
        <div id="drummerCRUD">
            <table>
                <tr>
                    <th></th>
                    <th>Naam</th>
                </tr>
                <tr v-for="drummer in drummers">
                    <td class="selectButton" onclick="select(drummer, this)">Selecteer</td>
                    <td>{{drummer.first_name}} {{drummer.last_name}}</td>
                    <td v-on:click="deleteDrummer(drummer)" v-bind:style="deleteButtonStyle"> x </td>
                </tr>
            </table>
            <div id="createForm" v-bind:style="userFormStyle">
                <b>Toevoegen</b> <br>
                <label>Voornaam:</label><input v-model="newDrummer.first_name" type="text" id="first_name" /><br />
                <label>Achternaam:</label><input v-model="newDrummer.last_name" type="text" id="last_name" />
                <button v-on:click="addDrummer()">Toevoegen</button>
            </div>
            <div id="updateForm" v-bind:style="userFormStyle">
                <b>Wijziggen</b> <br>
                <label>Voornaam:</label><input v-model="selectedDrummer.first_name" type="text" id="first_nameEdit" /><br />
                <label>Achternaam:</label><input v-model="selectedDrummer.last_name" type="text" id="last_nameEdit" />
                <button v-on:click="editDrummer()">Wijziggen</button>
            </div>
        </div>

        <div id="line"></div>

        <div id="componentCRUD">
            <table>
                <tr>
                    <th>Naam</th>
                    <th>Merk</th>
                    <th>Diameter</th>
                </tr>
                <tbody id="indexComponents" />
            </table>
            <div id="createComponentForm" v-bind:style="userFormStyle">
                <b>Toevoegen</b> <br>
                <label>Naam:</label><input type="text" id="name" required /><br />
                <label>Diameter:</label><input type="number" id="diameter" required /><br />
                <label>Merk:</label><select id="brand_id" required></select>
                <button onclick="addComponent()">Toevoegen</button>
            </div>
        </div>
    </main>
    <footer>&copy; 2023 SDBR</footer>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/drummers.js"></script>

</html>