table {
    align-self: flex-start;
    max-height: 500px;
}
th, td {
    text-align: left;
    padding-right: 10px;
}
td:last-child {
    color: red;
    cursor: pointer;
    width: 20px;
}

.selectButton {
    color: blue;
    text-decoration: underline;
    width: 65px;
}
.selectButton:hover {
    color: darkblue;
    cursor: pointer;
}
.selected {
    color: green;
}